* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'lato', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Nav Bar  */

* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 255, 235);
}

.navbar {
    width: 100%;
    background-color: rgb(73, 163, 73);
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    width: 33%;
    /* Four links of equal widths */
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(188, 211, 188);
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}


/* End Nav Bar */

.cont {
    overflow: hidden;
    height: 80%;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.imgs {
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    position: relative;
    width: 500%;
}

img {
    float: left;
    width: 20%;
    height: 700px;
    padding: 40px;
}


/* Hero Section */

.hero {
    min-height: 60%;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.hero .hero-info {
    width: 100%;
    text-align: center;
}

.hero .hero-info .hero-info-heading {
    font-size: 5rem;
    font-weight: 500;
    color: black;
}

.hero .hero-info .hero-info-subheading {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
}

.hero .hero-info .hero-donate-button {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: #9F85E8;
}

.hero-donate-button:hover {
    color: #625195;
    background-color: white;
}

.hero .hero-img {
    height: auto;
    width: 80%;
    margin-bottom: 3rem;
}

.hero .hero-img img {
    height: 100%;
    width: 100%;
}


/* End Hero Section */


/* About Section  */

.about {
    width: 100%;
    min-height: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
}


/* End About Section  */


/* Services section  */

.services {
    flex-direction: column;
    min-height: 60vh;
    padding: 10rem 5rem;
}

.services .services-header {
    width: 50%;
    text-align: center;
}

.services .services-header .services-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.services .services-header .services-header-desc {
    font-size: 2.6rem;
    line-height: 4rem;
    text-align: justify;
}

.services .services-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.services .services-info .service {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;
}


/* End Services section  */


/* donate Section  */

.donate {
    min-height: 10vh;
    flex-direction: column;
    width: 100%;
    background-color: #9F85E8;
    padding: 3rem 2rem;
}

.donate .donate-heading {
    color: black;
    font-size: 2.2rem;
    text-align: center;
}

.donate .donate-button {
    padding: 2rem 3rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.267);
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    margin-top: 10px;
    color: whitesmoke;
    transition: .3s ease background-color;
}

.donate .donate-button:hover {
    background-color: black;
}

.footer {
    min-height: 20vh;
    width: 100%;
    background-color: rgb(73, 163, 73);
    color: white;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
}

.footer .footer-contact {
    padding: 20px;
}

.footer .footer-contact .footer-contact-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer .footer-contact .footer-contact-info {
    font-size: 1.4rem;
    padding-top: 10px;
    letter-spacing: .2rem;
}

@media only screen and (min-width: 768px) {
    .nav-bar .nav-list .hamburger {
        display: none;
    }
    .nav-bar {
        width: 80%;
    }
    .nav-bar .nav-list ul {
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: initial;
        background-color: transparent;
    }
    .nav-bar .nav-list ul li {
        display: inline-block;
    }
    .hero {
        height: 100vh;
        flex-direction: row;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
    }
    .hero .hero-info {
        max-width: 30%;
        text-align: left;
    }
}

.about {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
}

.about .about-info {
    width: 50%;
    text-align: left;
    padding-right: 17rem;
}

.services .services-header .services-header-desc {
    max-width: 500px;
    padding-top: 20px;
    margin: 0 auto;
}

.services .services-info {
    flex-direction: row;
    width: 80%;
}

.services .services-info .service {
    margin: 0;
}

@media only screen and (min-width: 1200px) {
    .hero .hero-info .hero-info-heading {
        font-size: 6rem;
    }
    .hero .hero-info .hero-info-subheading {
        letter-spacing: .8rem;
    }
}